/* Webfont: Alcantera-Serif */@font-face {
    font-family: 'AlcanteraSerif';
    src: url('Alcantera-Serif.eot'); /* IE9 Compat Modes */
    src: url('Alcantera-Serif.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Alcantera-Serif.woff') format('woff'), /* Modern Browsers */
         url('Alcantera-Serif.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

