/* Webfont: Alcantera-Script */@font-face {
    font-family: 'AlcanteraScript';
    src: url('Alcantera-Script.eot'); /* IE9 Compat Modes */
    src: url('Alcantera-Script.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Alcantera-Script.woff') format('woff'), /* Modern Browsers */
         url('Alcantera-Script.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

